{% extends "sanjog/header.html" %}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static "assets/css/aboutus.css" %}">
<link rel="stylesheet" href="{% static "assets/css/icofont.min.css" %}">

<!--=====================================-->
<!--=          Banner Start       		=-->
<!--=====================================-->
<section class="hero-banner">
    <div class="container">
        <div class="hero-content" data-sal="zoom-out" data-sal-duration="1000">
            <h1 class="item-title">Vistaar Community</h1>
            <p>Having real social contacts can sometimes be difficult FUN, everything becomes much simpler!</p>
            <div class="item-number">10,95,219</div>
            <div class="conn-people">Connected People</div>
            <a href="newsfeed.html" class="button-slide">
                <span class="btn-text">Discover Now</span>
                <span class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                        <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <div class="leftside-image">
        <div class="cartoon-image" data-sal="slide-down" data-sal-duration="1000" data-sal-delay="100">
            <img src="{% static "assets/images/aboutus/people_1.png" %}" alt="People">
        </div>
        <div class="shape-image" data-sal="slide-down" data-sal-duration="500" data-sal-delay="700">
            <img src="{% static "assets/images/aboutus/shape_1.png" %}" alt="shape">
        </div>
    </div>
    <div class="map-line">
        <img src="{% static "assets/images/aboutus/map_line.png" %}" alt="map" data-sal="slide-up" data-sal-duration="500" data-sal-delay="800">
        <ul class="map-marker">
            <li data-sal="slide-up" data-sal-duration="700" data-sal-delay="1000"><img src="{% static "assets/images/aboutus/marker_1.png" %}" alt="marker"></li>
            <li data-sal="slide-up" data-sal-duration="800" data-sal-delay="1000"><img src="{% static "assets/images/aboutus/marker_2.png" %}" alt="marker"></li>
            <li data-sal="slide-up" data-sal-duration="900" data-sal-delay="1000"><img src="{% static "assets/images/aboutus/marker_3.png" %}" alt="marker"></li>
            <li data-sal="slide-up" data-sal-duration="1000" data-sal-delay="1000"><img src="{% static "assets/images/aboutus/marker_4.png" %}" alt="marker"></li>
        </ul>
    </div>
</section>
<!--=====================================-->
<!--=         Why Choose Start       	=-->
<!--=====================================-->
<section class="why-choose-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="why-choose-box">
                    <div class="item-subtitle">What We Do</div>
                    <h2 class="item-title"><span>Why Join Our</span> Vistaar from Social Network ?</h2>
                    <p>
                        Welcome to our online B2B marketplace, the premier importer and exporter directory for Nepal. Our platform serves as an online business portal in Nepal, connecting buyers and suppliers in wholesale trade across different categories.

                    </p>
                    Our platform is designed to help businesses generate leads and boost sales from across the country. With your own personal dashboard, you can easily upload, track, and manage products, ensuring that you never miss out on a sales opportunity. Additionally, our exclusive online store and direct access through QR code feature make it easy for potential customers to find and purchase your products.
                    <p>

                        
                  
                    <p>
                        We are committed to providing a user-friendly platform that helps businesses of all sizes connect with potential clients in Nepal. Thank you for choosing our online B2B marketplace as your go-to destination for your business needs."

                    </p>
                    <a href="#" class="button-slide">
                        <span class="btn-text">Join Our Community</span>
                        <span class="btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                                <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-choose-box">
                    <ul class="features-list">
                        <li>
                            <div class="media">
                                <div class="item-icon">
                                    <i class="icofont-wechat"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="item-title">Meet Great People</h3>
                                    <p>when an unknown printer took a galley of scrambled it to make a type specimen It has survived not only.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="item-icon">
                                    <i class="icofont-users"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="item-title">Forum Discussion</h3>
                                    <p>when an unknown printer took a galley of scrambled it to make a type specimen It has survived not only.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="item-icon">
                                    <i class="icofont-paper"></i>
                                </div>
                                <div class="media-body">
                                    <h3 class="item-title">Active Groups</h3>
                                    <p>when an unknown printer took a galley of scrambled it to make a type specimen It has survived not only.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=         Community Start       	=-->
<!--=====================================-->
<section class="community-network">
    <ul class="map-marker">
        <li><img src="{% static "assets/images/aboutus/marker_1.png" %}" alt="marker"></li>
        <li><img src="{% static "assets/images/aboutus/marker_2.png" %}" alt="marker"></li>
        <li><img src="{% static "assets/images/aboutus/marker_3.png" %}" alt="marker"></li>
        <li><img src="{% static "assets/images/aboutus/marker_4.png" %}" alt="marker"></li>
        <li><img src="{% static "assets/images/aboutus/marker_5.png" %}" alt="marker"></li>
    </ul>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="community-content">
                    <h2 class="item-title">129 Countries We Build Our Largest Community in <span>Vistaar Network</span></h2>
                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also leap electronic typesetting, remaining essentially.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-shape" data-sal="slide-left" data-sal-duration="500" data-sal-delay="500">
        <img src="{% static "assets/images/aboutus/shape_7.png" %}" alt="bg">
    </div>
</section>
<!--=====================================-->
<!--=         Team Area  Start       	=-->
<!--=====================================-->
<section class="section team-circle">
    <div class="container position-relative">
        <div class="section-heading">
            <h2 class="item-title">Our Active Members</h2>
            <p>when an unknown printer took a galley of type and meeting fari scrambled it to make a type specimen book.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-sm-6">
                        <ul class="nav nav-tabs nav-tabs-left" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#team1" role="tab" aria-selected="true">
                                    <img src="{% static "assets/images/aboutus/team_1.jpg" %}" alt="team">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#team2" role="tab" aria-selected="false">
                                    <img src="{% static "assets/images/aboutus/team_5.jpg" %}" alt="team">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#team3" role="tab" aria-selected="false">
                                    <img src="{% static "assets/images/aboutus/team_6.jpg" %}" alt="team">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-sm-6 order-lg-3">
                        <ul class="nav nav-tabs nav-tabs-right" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#team4" role="tab" aria-selected="false">
                                    <img src="{% static "assets/images/aboutus/team_3.jpg" %}" alt="team">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#team5" role="tab" aria-selected="false">
                                    <img src="{% static "assets/images/aboutus/team_4.jpg" %}" alt="team">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#team6" role="tab" aria-selected="false">
                                    <img src="{% static "assets/images/aboutus/team_7.jpg" %}" alt="team">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 order-lg-2">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="team1" role="tabpanel">
                                <div class="team-box">
                                    <div class="item-img">
                                        <img src="{% static "assets/images/aboutus/team_1.jpg" %}" alt="team">
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title"><a href="user-timeline.html">Ketty Rio</a></h3>
                                        <div class="group-count"><span>25</span> - Fashion</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="team2" role="tabpanel">
                                <div class="team-box">
                                    <div class="item-img">
                                        <img src="{% static "assets/images/aboutus/team_5.jpg" %}" alt="team">
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title"><a href="user-timeline.html">Johnson John</a></h3>
                                        <div class="group-count"><span>25</span> - Fashion</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="team3" role="tabpanel">
                                <div class="team-box">
                                    <div class="item-img">
                                        <img src="{% static "assets/images/aboutus/team_6.jpg" %}" alt="team">
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title"><a href="user-timeline.html">Fahim Rahman</a></h3>
                                        <div class="group-count"><span>25</span> - Fashion</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="team4" role="tabpanel">
                                <div class="team-box">
                                    <div class="item-img">
                                        <img src="{% static "assets/images/aboutus/team_3.jpg" %}" alt="team">
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title"><a href="user-timeline.html">Mamunur Rashid</a></h3>
                                        <div class="group-count"><span>25</span> - Fashion</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="team5" role="tabpanel">
                                <div class="team-box">
                                    <div class="item-img">
                                        <img src="{% static "assets/images/aboutus/team_4.jpg" %}" alt="team">
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title"><a href="user-timeline.html">Ketty Rio</a></h3>
                                        <div class="group-count"><span>25</span> - Fashion</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="team6" role="tabpanel">
                                <div class="team-box">
                                    <div class="item-img">
                                        <img src="{% static "assets/images/aboutus/team_7.jpg" %}" alt="team">
                                    </div>
                                    <div class="item-content">
                                        <h3 class="item-title"><a href="user-timeline.html">Ketty Rio</a></h3>
                                        <div class="group-count"><span>25</span> - Fashion</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="shape-wrap">
                    <li><img src="{% static "assets/images/aboutus/shape_9.png" %}" alt="shape"></li>
                    <li><img src="{% static "assets/images/aboutus/shape_1.png" %}" alt="shape"></li>
                    <li><img src="{% static "assets/images/aboutus/shape_2.png" %}" alt="shape"></li>
                    <li><img src="{% static "assets/images/aboutus/shape_circle_1.png" %}" alt="shape"></li>
                    <li><img src="{% static "assets/images/aboutus/shape_circle_2.png" %}" alt="shape"></li>
                    <li><img src="{% static "assets/images/aboutus/shape_circle_3.png" %}" alt="shape"></li>
                    <li><img src="{% static "assets/images/aboutus/shape_3.png" %}" alt="shape"></li>
                    <li><img src="{% static "assets/images/aboutus/shape_4.png" %}" alt="shape"></li>
                </ul>
            </div>
        </div>
        <div class="see-all-btn">
            <a href="forums-members.html" class="button-slide">
                <span class="btn-text">Discover All Member</span>
                <span class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                        <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=         Why Choose  Start       	=-->
<!--=====================================-->
<section class="why-choose-fluid" style="margin-top: 12rem;">
    <div class="container-fluid full-width">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="why-choose-content"> 
                    <div class="content-box">
                        <h2 class="item-title">Vistaar Makes Your Life Easier &amp; Simple</h2>
                        <p>Aliquam lorem ante dapibus in viverra quis feugiat atellu Peaselus vierra nullaut metus varius laoreet unknown printer took scrambled make.</p>
                        <a href="#" class="button-slide">
                            <span class="btn-text">Read More</span>
                            <span class="btn-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="10px">
                                    <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="why-choose-img">
                    <div class="image-box">
                        <img src="{% static "assets/images/aboutus/why_choose_1.jpg" %}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=====================================-->
<!--=         Testimonial Start       	=-->
<!--=====================================-->

<!--=====================================-->
<!--=         Blog Area Start       	=-->
<!--=====================================-->

{% endblock %}

{% block script %}

    <!-- Plugin JS File -->
    <script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.js" %}"></script>
    <script src="{% static "assets/vendor/jquery.plugin/jquery.plugin.min.js" %}"></script>
    <script src="{% static "assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
    <script src="{% static "assets/vendor/swiper/swiper-bundle.min.js" %}"></script>
    <script src="{% static "assets/vendor/jquery.countdown/jquery.countdown.min.js" %}"></script>
    <script src="{% static "assets/vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
    <script src="{% static "assets/vendor/floating-parallax/parallax.min.js" %}"></script>
    <script src="{% static "assets/vendor/zoom/jquery.zoom.js" %}"></script>
    <script src="{% static "assets/vendor/niceselect.js" %}"></script>
    
    <script src="{% static "assets/js/datatable.js" %}"></script>
    <script src="{% static "assets/js/apexchart.js" %}"></script>
    <script src="{% static "assets/js/chartoption.js" %}"></script>
    <script src="{% static "assets/js/popper.min.js" %}"></script>
    <script src="{% static "assets/js/lunar.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <!-- Main Js -->
    <script src="{% static "assets/js/main.min.js" %}"></script>

        <script>
        $(document).ready(function() {
  $('select').niceSelect();
});
    </script>
<script> 
    $(function(){
      $("#header").load("header.html"); 
      $("#footer").load("footer.html"); 
    });
    </script> 

<script type="text/javascript">
gsap.timeline({
  scrollTrigger: {
      trigger: ".bbg",
      start: "top bottom",
            end: "bottom",
      ease: "power2",
      scrub: true,

  }
})
.to(".bbg", { backgroundColor: "white", })


</script> 

<script type="text/javascript">
gsap.timeline({
  scrollTrigger: {
      trigger: ".bbg",
      start: "top bottom",
            end: "bottom",
   
      scrub: true,

  }
})
.to(".bbgp", {color : "black" })


</script> 

<script type="text/javascript">
gsap.timeline({
  scrollTrigger: {
      trigger: ".bbg",
      start: "top bottom",
            end: "bottom",
   
      scrub: true,

  }
})
.to(".bbgimage", 7, {
          scale:1.2,

        })
</script> 

{% endblock %}
