{% extends "sanjog/header.html" %}

{% block title %}
{% if slug == "hand-machinery-and-tools" %}
<title>Top Hand, Machine and Power Wholesalers & Importers in Nepal</title>
{% endif %}
{% if slug == "consumer-electronics" %}
<title>Wholesale Electronics, Electronic Products Suppliers, Electrical Goods Manufacturers in Nepal</title>
{% endif %}
{% if slug == "drugs-pharmaceuticals" %}
<title>Buy Common Medicines at Wholesale prices in Nepal</title>
{% endif %}
{% if slug == "industrial-machinery-suplies" %}
<title>Buy Industrial Products from Top Manufacturers and Wholesalers in Nepal</title>
{% endif %}
{% endblock %}

{% block meta %}
{% if slug == "hand-machinery-and-tools" %}
<meta name="keywords" content="cnc machining
,mill machine
,welding machine price in nepal
,hand tools manufacturers
,machine tools manufacturers
,power tools importer
,cnc manufacturing
,precision machine
,bar cutting machine
,drill machine price in nepal
,glue gun price in nepal
,multimeter price in nepal">
</meta>
<meta name="description"
    content="Discover a wide range of Hand Machine Tools, Machine Tools, and Power Tools manufacturers and importers in Nepal at our B2B marketplace. Compare welding machine prices, explore bar cutting machines, and find the best drill machine prices. Connect with trusted suppliers to grow your business.">
{% endif %}
{% if slug == "consumer-electronics" %}
<meta name="keywords" content="
Electronics wholesale prices
,Electronics 
,Wholesale electronics
,Buy electronics wholesale
,Adaptors
,router
,electronic importer
,electronics wholesale
,consumer electonic 
">
</meta>
<meta name="description"
    content="Shop the latest consumer electronics at wholesale prices! Find top-quality electronics, adaptors, and more online. Buy electronics wholesale and enjoy easy online shopping.">
{% endif %}
{% if slug == "drugs-pharmaceuticals" %}
<meta name="keywords" content="
buy medication at wholesale
,common disease medicine
,medication wholesale prices
,Anti-infection drugs and medicine
,Medication wholesale
,pain relief medicine
,digestive system medicine
,sexual wellness
,Respiratory System Drugs
,Cardiovascular Drugs  
">
</meta>
<meta name="description"
    content="Get high-quality medication at wholesale prices for common diseases, anti-infection, respiratory system, Cardiovascular Drugs">
{% endif %}
{% if slug == "industrial-machinery-suplies" %}
<meta name="keywords" content="
sewing machine
,industrial supplies wholesalers
,industrial equipments manufacturers
,industrial products
,welding machinery
,rubber oil seal
,water tank
,rods
,printing machine
,air compressors
,importers of industrial products
">
</meta>
<meta name="description"
    content="Shop our online store for a wide range of industrial products sourced directly from top manufacturers, suppliers, and wholesalers. Browse our selection of sewing machines, water tanks, printing machines, and more">
{% endif %}
{% endblock %}
{% block content %}
{% load static %}

<style>
    body {
        background-color: #eff7fa;
    }
</style>

<script>
    function disableNullFields(form) {
        Array.from(form.elements).forEach((input) => {
            if (input.value == "" || input.value == "None") {
                input.disabled = true;
            }
        });
    }

    function disableNullFieldsAndSubmit(form) {
        disableNullFields(form);
        form.submit();
    }

    function disableNullFieldsAndGotoCategory(form, categoryID, categorySlug) {
        disableNullFields(form);
        form.action = `/products/category/${categoryID}/${categorySlug}`;
        form.submit();
    }
</script>

<div id="header"></div>

<div class="aiz-sidebar-wraptwo">
    <div class="aiz-sidebartwo left c-scrollbar">
  
        <div class="aiz-side-nav-wraptwo">

            <div class="sticky-sidebar">
                <div class="filter-actions mb-3">
                    <label>Filter :</label>

                    <a class="fw-500">Reset Filter</a>

                </div>

                <form method="GET" onSubmit="return disableNullFields(this);">
                    <input type="hidden" name="keyword" value="{{keyword}}">
                    <input type="hidden" name="sort" value="{{sort}}">
                    <input type="hidden" name="sub_categ" value="{{sub_categ}}">

                    <div class="range">
                        <div class="range-slider">
                            <span class="range-selected"></span>
                        </div>
                        <div class="range-input">
                            <input type="range" class="min" min="0" max="1000"
                                value="{{min_price_of_all_products}}" step="10">
                            <input type="range" class="max" min="0" max="1000"
                                value="{{max_price_of_all_products}}" step="10">
                        </div>
                        <div class="range-price d-flex align-items-center ">
                            <div class="mr-2 mt-3">
                                <label for="min">Min</label>
                                <input type="number" class="w-100 form-control mr-2" name="min_value"
                                    value="{{min_price_of_all_products}}">
                            </div>
                            <div class="mt-3">
                                <label for="max">Max</label>
                                <input type="number" class="w-100 form-control" name="max_value"
                                    value="{{max_price_of_all_products}}">
                            </div>
                        </div>
                    </div>





                    <button
                        class="btn btn-outline-green btn-filter-green btn-border-green mx-auto d-block mt-3 w-100"
                        type="submit">Filter</button>
                </form>

                <!-- Start of Collapsible widget -->
                <div class="widget widget-collapsible mt-4">
                    <h3 class="widget-title text-dark"><label>Sub Categories</label>
                        <span class="toggle-btn"></span>
                    </h3>
                    <ul
                        class="widget-body asdass filter-items item-check mt-1{% if subcategory|length > 5 %} more-than-five-categories{% endif %}">

                        <form method="GET" class="mb-3" onSubmit="return disableNullFields(this);">
                            <input type="hidden" name="keyword" value="{{keyword}}">
                            <input type="hidden" name="min_value" value="{{min_value}}">
                            <input type="hidden" name="max_value" value="{{max_value}}">
                            <input type="hidden" name="sort" value="{{sort}}">
                            <input type="hidden" name="sub_categ" value="{{c.slug}}">

                            {% for c in subcategory %}
                            <li><label class="checkbox">{{c}}
                                    <input name="sub_categ" type="radio" {% if c == current_category %} checked
                                        {% endif %} value="{{ c.slug}}" />
                                    <span class="checkmark" />
                                </label></li>
                            {% endfor %}
                            <button
                        class="btn btn-outline-green btn-filter-green btn-border-green mx-auto d-block mt-3 w-100"
                        type="submit">Filter</button>
                        </form>
                    </ul>
                </div>

                <!--div class="widget widget-collapsible">
                    <h3 class="widget-title text-dark"><label>Brands</label>
                        <span class="toggle-btn"></span></h3>

                    <form method="GET" class="mb-3" onSubmit="return disableNullFields(this);">

                    <input type="hidden" name="keyword" value="{{keyword}}">
                    <input type="hidden" name="min_value" value="{{min_value}}">
                    <input type="hidden" name="max_value" value="{{max_value}}">
                    <input type="hidden" name="sort" value="{{sort}}">
                    <input type="hidden" name="sub_categ" value="{{c.slug}}">

                    {% for b in brands %}
                        <ul class="mt-4">
                            <li><label class="checkbox">{{b}}
                                <input type="checkbox" name="brands" value="{{b}}" {% if b in selected_brands %} checked {% endif %} onchange="return disableNullFieldsAndSubmit(this.form);" />
                                <span class="checkmark" />
                            </label></li>
                        </ul>
                    {% endfor %}

                    </form>
                </div-->

                <!-- End of Collapsible Widget -->
                <!-- Start of Collapsible Widget -->
                <div class="widget widget-collapsible">
                    <h3 class="widget-title text-dark"><label>Suppliers</label>
                        <span class="toggle-btn"></span>
                    </h3>

                    <ul
                        class="widget-body filter-items search-ul {% if supplier|length > 5 %} more-than-five-categories{% endif %}">
                        {% for s in supplier %}
                        <li><a href="#">{{s}}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Start of Collapsible Widget -->

                <!-- End of Collapsible Widget -->
            </div>
      
        </div><!-- .aiz-side-nav-wrap -->
    </div><!-- .aiz-sidebar -->
    <div class="aiz-sidebar-overlaytwo"></div>

<main class="main" style="background-color: #eff7fa;">
    <!-- Start of Breadcrumb -->
    <nav class="breadcrumb-nav pt-3">
        <div class="container">
            <ul class="breadcrumb bbWWW-no">
                <li><a href="{% url 'home' %}">Homes</a></li>
                <li>{{current_category}}</li>
                {% if keyword == None %}
                {% else %} 
                <li>{{keyword}}</li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- End of Breadcrumb -->

    <!-- Start of Page Content -->
    <div class="page-content">
        <div class="container">
            <!-- Start of Shop Banner -->

            <!-- End of Shop Banner -->



            <!-- Start of Shop Content -->
            <div class="shop-content row gutter-lg mb-10">
                <!-- Start of Sidebar, Shop Sidebar -->
                <aside class="sidebar shop-sidebar sticky-sidebar-wrapper sidebar-fixed">
                    <!-- Start of Sidebar Overlay -->
                    <div class="sidebar-overlay"></div>
                    <a class="sidebar-close" href="#"><i class="close-icon"></i></a>

                    <!-- Start of Sidebar Content -->
                    <div class="sidebar-content scrollable">
                        <!-- Start of Sticky Sidebar -->
                        <div class="sticky-sidebar">
                            <div class="filter-actions mb-3">
                                <label>Filter :</label>

                                <a class="fw-500">Reset Filter</a>

                            </div>

                            <form method="GET" onSubmit="return disableNullFields(this);">
                                <input type="hidden" name="keyword" value="{{keyword}}">
                                <input type="hidden" name="sort" value="{{sort}}">
                                <input type="hidden" name="sub_categ" value="{{sub_categ}}">

                                <div class="range">
                                    <div class="range-slider">
                                        <span class="range-selected"></span>
                                    </div>
                                    <div class="range-input">
                                        <input type="range" class="min" min="0" max="1000"
                                            value="{{min_price_of_all_products}}" step="10">
                                        <input type="range" class="max" min="0" max="1000"
                                            value="{{max_price_of_all_products}}" step="10">
                                    </div>
                                    <div class="range-price d-flex align-items-center ">
                                        <div class="mr-2 mt-3">
                                            <label for="min">Min</label>
                                            <input type="number" class="w-100 form-control mr-2" name="min_value"
                                                value="{{min_price_of_all_products}}">
                                        </div>
                                        <div class="mt-3">
                                            <label for="max">Max</label>
                                            <input type="number" class="w-100 form-control" name="max_value"
                                                value="{{max_price_of_all_products}}">
                                        </div>
                                    </div>
                                </div>





                                <button
                                    class="btn btn-outline-green btn-filter-green btn-border-green mx-auto d-block mt-3 w-100"
                                    type="submit">Filter</button>
                            </form>

                            <!-- Start of Collapsible widget -->
                            <div class="widget widget-collapsible mt-4">
                                <h3 class="widget-title text-dark"><label>Sub Categories</label>
                                    <span class="toggle-btn"></span>
                                </h3>
                                <ul
                                    class="widget-body asdass filter-items item-check mt-1{% if subcategory|length > 5 %} more-than-five-categories{% endif %}">

                                    <form method="GET" class="mb-3" onSubmit="return disableNullFields(this);">
                                        <input type="hidden" name="keyword" value="{{keyword}}">
                                        <input type="hidden" name="min_value" value="{{min_value}}">
                                        <input type="hidden" name="max_value" value="{{max_value}}">
                                        <input type="hidden" name="sort" value="{{sort}}">
                                        <input type="hidden" name="sub_categ" value="{{c.slug}}">
                                        <input type="hidden" name="supplier" value="{{current_supplier}}">

                                        {% for c in subcategory %}
                                        <li><label class="checkbox">{{c}}
                                                <input name="sub_categ" type="{% if subcategory|length > 1 %}radio{% else %}checkbox{% endif %}" {% if c == current_subcategory %} checked
                                                    {% endif %} value="{{ c.slug}}" />
                                                <span class="checkmark" />
                                            </label></li>
                                        {% endfor %}
                                        <button
                                    class="btn btn-outline-green btn-filter-green btn-border-green mx-auto d-block mt-3 w-100"
                                    type="submit">Filter</button>
                                    </form>
                                </ul>
                            </div>

                            <!--div class="widget widget-collapsible">
                                <h3 class="widget-title text-dark"><label>Brands</label>
                                    <span class="toggle-btn"></span></h3>

                                <form method="GET" class="mb-3" onSubmit="return disableNullFields(this);">

                                <input type="hidden" name="keyword" value="{{keyword}}">
                                <input type="hidden" name="min_value" value="{{min_value}}">
                                <input type="hidden" name="max_value" value="{{max_value}}">
                                <input type="hidden" name="sort" value="{{sort}}">
                                <input type="hidden" name="sub_categ" value="{{c.slug}}">

                                {% for b in brands %}
                                    <ul class="mt-4">
                                        <li><label class="checkbox">{{b}}
                                            <input type="checkbox" name="brands" value="{{b}}" {% if b in selected_brands %} checked {% endif %} onchange="return disableNullFieldsAndSubmit(this.form);" />
                                            <span class="checkmark" />
                                        </label></li>
                                    </ul>
                                {% endfor %}

                                </form>
                            </div-->

                            <!-- End of Collapsible Widget -->
                            <!-- Start of Collapsible Widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title text-dark"><label>Suppliers</label>
                                    <span class="toggle-btn"></span>
                                </h3>

                                <ul
                                    class="widget-body filter-items search-ul {% if supplier|length > 5 %} more-than-five-categories{% endif %}">

                                    <form method="GET" class="mb-3" onSubmit="return disableNullFields(this);">
                                        <input type="hidden" name="keyword" value="{{keyword}}">
                                        <input type="hidden" name="min_value" value="{{min_value}}">
                                        <input type="hidden" name="max_value" value="{{max_value}}">
                                        <input type="hidden" name="sort" value="{{sort}}">
                                        <input type="hidden" name="sub_categ" value="{{c.slug}}">

                                        {% for s in supplier %}
                                        <li><label class="checkbox">{{s}}
                                                <input name="supplier" type="radio" {% if s == current_supplier %} checked
                                                    {% endif %} value="{{ s.slug}}" />
                                                <span class="checkmark" />
                                            </label></li>
                                        {% endfor %}
                                        <button
                                    class="btn btn-outline-green btn-filter-green btn-border-green mx-auto d-block mt-3 w-100"
                                    type="submit">Filter</button>
                                    </form>
                                </ul>
                            </div>

                            <!-- Start of Collapsible Widget -->

                            <!-- End of Collapsible Widget -->
                        </div>
                        <!-- End of Sidebar Content -->
                    </div>
                    <!-- End of Sidebar Content -->
                </aside>
                <!-- End of Shop Sidebar -->

                <!-- Start of Shop Main Content -->
                <div class="main-content">
                
                    <nav class="toolbox sticky-toolbox sticky-content fix-top w-100 justify-content-between">
                        <div class="toolbox-left">
                            <button class="aiz-mobile-togglertwo" style="background: unset;     width: 25px;">
                                <img style="width: 20px;" src="https://cdn-icons-png.flaticon.com/512/1160/1160127.png" alt=""/>
                            </button> 
                            {% if products|length == 0 %}
                            {% else %}
                            {% if keyword %}<h3 class="fs-17">Searching forss: "<span id="keyword">{{keyword}}</span>"
                                {% endif %}
                                <span class="fw-500">({{products_count}} Products)</span>
                            </h3>
                            {% endif %}
                        </div>
                        <div class="toolbox-right">


                            <img src="{% static "assets/images/edit.png" %}" alt="" class="w-20 r90">


                            <div class="toolbox-item toolbox-sort select-box text-dark">
                                <form method="GET" class="d-flex align-items-center"
                                    onSubmit="return disableNullFields(this);">
                                    <input type="hidden" name="keyword" value="{{keyword}}">
                                    <input type="hidden" name="min_value" value="{{min_value}}">
                                    <input type="hidden" name="max_value" value="{{max_value}}">
                                    <input type="hidden" name="sub_categ" value="{{sub_categ}}">

                                    <label class="text-right">Sort By :</label>
                                    <select name='sort' style="width: 200px !important" id='sort' class="form-control"
                                        onchange="return disableNullFieldsAndSubmit(this.form);">
                                        <option name="latest" value="LST" {% if sort == "LST" %}selected{% endif %}>
                                            Latest</option>
                                        <option name="lth" value="LTH" {% if sort == "LTH" %}selected{% endif %}> Price:
                                            low to high</option>
                                        <option name="htl" value="HLT" {% if sort == "HLT" %}selected{% endif %}> Price:
                                            high to low</option>
                                    </select>
                                </form>
                            </div>
                            <div class="toolbox-item toolbox-layout d-none">
                                <a href="/" class="icon-mode-grid btn-layout active">
                                    <i class="w-icon-grid"></i>
                                </a>
                                <a href="#" class="icon-mode-list btn-layout">
                                    <i class="w-icon-list"></i>
                                </a>
                            </div>
                        </div>
                    </nav>
                    <div class="product-wrapper row cols-md-4 cols-sm-2 cols-1" id="categorylists">
                        {% for p in pag %}
                        <div class="product-wrap" style="max-width: 100%">
                            <div class="product text-center">
                                <figure class="product-media">
                                    <a href="{{p.get_absolute_url}}">
                                        {% if p.image %}
                                            <img src="{{p.image.url}}" alt="Product" width="300" height="338">
                                            <img src="{{p.image.url}}" alt="Product" width="300" height="338">

                                        {% else %}
                                            <img src="https://media.istockphoto.com/vectors/no-image-available-icon-vector-id1216251206?k=>
                                                width="300" height="338">
                                            <img src="https://media.istockphoto.com/vectors/no-image-available-icon-vector-id1216251206?k=>
                                                width="300" height="338">
                                        {% endif %}
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-cart w-icon-cart"
                                            title="Add to cart"></a>
                                        <a href="#" class="btn-product-icon btn-wishlist w-icon-heart"
                                            title="Add to wishlist"></a>
                                        <a href="#" class="btn-product-icon btn-quickview w-icon-search"
                                            title="Quickview"></a>
                                        <a href="#" class="btn-product-icon btn-compare w-icon-compare"
                                            title="Add to Compare"></a>
                                    </div>

                                </figure>
                                <div class="product-details">
                                    <h4 class="product-name"><a href="{{p.get_absolute_url}}">{{p.product_name}}</a>
                                    </h4>
                                    <div class="ratings-container">
                                        <div class="ratings-full">
                                            <span class="ratings" style="width: 100%;"></span>
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <a # class="rating-reviews">(3 Reviews)</a>
                                    </div>
                                    {% if p.price != 0 %}
                                    <div class="product-price pl-3">
                                        <ins class="new-price">Rs. {{p.price}}{% if p.max_price and p.max_price != 0 %}
                                            - Rs. {{ p.max_price }}{% endif %}</ins>
                                    </div>
                                    {% else %}
                                    <div class="product-price ask-forprice">
                                        <ins class="new-price">Ask for Price</ins>
                                    </div>
                                    {% endif %}
                                    <div style="padding-left: 10px;">
                                        <p>MOQ: {{p.minimum_order_quantity}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>

                    <div class="toolbox toolbox-pagination justify-content-between">
                        <p class="showing-info mb-2 mb-sm-0">
                            Page {{ pag.number }} of {{ pag.paginator.num_pages }} </span>Pages
                        </p>
                        <ul class="pagination">
                            {% if pag.has_previous %}
                            <li class="prev">
                                <a href="?page={{ pag.previous_page_number }}&keyword={{ keyword }}&sub_categ={{ sub_categ }}"
                                    aria-label="Previous" tabindex="-1" aria-disabled="true">
                                    <i class="w-icon-long-arrow-left"></i>Prev
                                </a>
                            </li>
                            {% endif %}
                            {% if pag.has_next %}
                            <li class="next">
                                <a href="?page={{ pag.next_page_number }}&keyword={{ keyword }}&sub_categ={{ sub_categ }}"
                                    aria-label="Next">
                                    Next<i class="w-icon-long-arrow-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- End of Shop Main Content -->
            </div>
            <!-- End of Shop Content -->
        </div>
    </div>
    <!-- End of Page Content -->
</main>
<!-- End of Main -->

<div class="container">
    {% if slug == "hand-machinery-and-tools" %}
    <h4>
        Top Hand, Machine and Power Wholesalers & Importers in Nepal
    </h4>
    <h4 class="subtags">
        "Discover a wide range of Hand Machine Tools, Machine Tools, and Power Tools manufacturers and importers in Nepal at our B2B marketplace. Compare welding machine prices, explore bar cutting machines, and find the best drill machine prices. Connect with trusted suppliers to grow your business."
    </h4>

    <h4 class="mt-4">
        Find Top Hand Tools Manufacturer, Exporters, Importers at Vistaar
    </h4>
    <h4 class="subtags">
        At our B2B marketplace, we bring together a wide range of hand, machine, and power tools manufacturers and importers in Nepal. Whether you need welding machines, bar cutting machines, or drill machines, our verified supplier network has got you covered. You can compare welding machine prices, explore different bar cutting machines, and find the best drill machine prices from trusted suppliers on our platform. Our suppliers are committed to providing high-quality products at competitive prices to help your business thrive. From small businesses to large industrial operations, we offer a one-stop-shop for all your tool needs. Whether you're looking for a specific product or need help finding the right tools for your business, our platform makes it easy to connect with reliable suppliers. Explore our extensive product range today and find the tools you need to take your business to the next level.
    </h4>
    {% endif %}
    {% if slug == "consumer-electronics" %}
    <h4>
        Shop Wholesale Electronics and Adaptors | Buy Consumer Electronics Online
    </h4>
    <h4 class="subtags">
        Welcome to our online store where you can buy consumer electronics at wholesale prices! We specialize in providing high-quality electronics and networking products at competitive prices. As a leading supplier of wholesale electronics, we offer a wide range of products including adaptors, routers, and consumer electronic products for both home and business use. Whether you're looking to buy electronics in bulk or just want to upgrade your personal electronics, we've got you covered. Our easy-to-use online shopping platform makes it easy to find and purchase the products you need from the comfort of your own home. So why wait? Start shopping today and take advantage of our great deals on wholesale electronics
    </h4>

    <h4 class="mt-4">
        Shop Wholesale Consumer Electronics Online - Buy Electronics in Bulk
    </h4>
    <h4 class="subtags">
        At our online store, we're committed to providing you with the best deals on consumer electronics, adaptors, routers, and more. As a trusted provider of wholesale electronics, we offer a wide range of products to suit your needs, whether you're a business looking to buy electronics in bulk or an individual shopping for home consumer electronics. Our selection includes the latest and greatest electronic products, as well as high-quality adaptors and routers to keep you connected. With our easy-to-use online shopping platform, you can browse and purchase electronics online from the comfort of your own home. So why wait? Start shopping today and take advantage of our unbeatable deals on wholesale electronics
    </h4>
    {% endif %}
    {% if slug == "drugs-pharmaceuticals" %}
    <h4>
        Buy Medication at Wholesale price : Common Disease, Anti-Infection, and Cardiovascular Drugs at Wholesale Prices
    </h4>
    <h4 class="subtags">
        Shop high-quality medication at wholesale prices for common diseases, anti-infection, pain relief, digestive system, and sexual wellness. Our B2B e-commerce website offers a wide selection of products to meet your needs
    </h4>

    <h4 class="mt-4">
        Buy Medication at Wholesale Prices: Common Disease, Anti-Infection, Respiratory System, Digestive System, and Sexual Wellness -
    </h4>
    <h4 class="subtags">
        Explore our extensive selection of medication at wholesale prices, including common disease medicine, anti-infection drugs, respiratory system treatments, Cardiovascular Drugs 
    </h4>
    {% endif %}
    {% if slug == "industrial-machinery-suplies" %}
    <h4>
        op-Quality Industrial Supplies from Leading Manufacturers, Wholesalers, and Importers - Shop Sewing Machines, Welding Machinery, Printing Machines, Air Compressors, and More
    </h4>
    <h4 class="subtags">
        Looking for top-quality industrial products at wholesale rates? Look no further! Our online store offers a wide range of products, including sewing machines, welding machinery, rubber oil seals, water tanks, printing machines, air compressors, and more - all sourced directly from leading manufacturers, suppliers, and importers in the industry
    </h4>

    <h4 class="mt-4">
        Get Wholesale Rates on Top-Quality Industrial Products - Sewing Machines, Welding Machinery, Water Tanks, and More from Leading Manufacturers and Wholesalers
    </h4>
    <h4 class="subtags">
        At our online store, we offer a wide selection of industrial products at wholesale rates. Shop with us for high-quality sewing machines, welding machinery, rubber oil seals, water tanks, printing machines, air compressors, and more, sourced directly from top manufacturers, suppliers, and importers in the industry
    </h4>
    {% endif %}
</div>


</div>
<!-- End of .page-wrapper -->

<!-- Start of Sticky Footer -->
<div class="stick_footer">
    <div class="mb-toolbar">
        <div>
            <ul class="toolbar-grid m-0">
                <li>
                    <a href="">
                        <img src="{% static "assets/images/home.png" %}" class="w-20" alt="Home">
                        <p class="m-0">Home</p>
                    </a>
                </li>
                <li data-toggle="modal" data-target="#myModal">
                    <a href="javascript:void(0)">
                        <img src="{% static "assets/images/categories (1).png" %}" class="w-20" alt="Categories">
                        <p class="m-0">Categories</p>
                    </a>
                </li>
                <li data-toggle="modal" data-target="#myModal">
                    <a href="javascript:void(0)">
                        <i class="fa fa-search"></i>
                        <p class="m-0">Search</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static "assets/images/message.png" %}" class="w-20" alt="Messages">
                        <p class="m-0">Messages</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="{% static "assets/images/user (1).png" %}" class="w-20" alt="Profile">
                        <p class="m-0">Profile</p>
                    </a>

                </li>


            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<!-- Plugin JS File -->
<script src="{% static "assets/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "assets/js/bootstrap.js" %}"></script>
<script src="{% static "assets/vendor/jquery.plugin/jquery.plugin.min.js" %}"></script>
<script src="{% static "assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "assets/vendor/swiper/swiper-bundle.min.js" %}"></script>
<script src="{% static "assets/vendor/jquery.countdown/jquery.countdown.min.js" %}"></script>
<script src="{% static "assets/vendor/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "assets/vendor/floating-parallax/parallax.min.js" %}"></script>
<script src="{% static "assets/vendor/zoom/jquery.zoom.js" %}"></script>
<script src="{% static "assets/vendor/niceselect.js" %}"></script>

<script src="{% static "assets/js/datatable.js" %}"></script>
<script src="{% static "assets/js/apexchart.js" %}"></script>
<script src="{% static "assets/js/chartoption.js" %}"></script>
<script src="{% static "assets/js/popper.min.js" %}"></script>
<script src="{% static "assets/js/lunar.js" %}"></script>
<script src="{% static "assets/js/main.js" %}"></script>



<!-- Main Js -->
<script src="{% static "assets/js/main.min.js" %}"></script>
<script src="{% static "js2/active.js" %}"></script>

<script>
    $(document).ready(function () {
        $('select').niceSelect();
    });
</script>

<script>
    let rangeMin = 100;
    const range = document.querySelector(".range-selected");
    const rangeInput = document.querySelectorAll(".range-input input");
    const rangePrice = document.querySelectorAll(".range-price input");

    rangeInput.forEach((input) => {
        input.addEventListener("input", (e) => {
            let minRange = parseInt(rangeInput[0].value);
            let maxRange = parseInt(rangeInput[1].value);
            if (maxRange - minRange < rangeMin) {
                if (e.target.className === "min_value") {
                    rangeInput[0].value = maxRange - rangeMin;
                } else {
                    rangeInput[1].value = minRange + rangeMin;
                }
            } else {
                rangePrice[0].value = minRange;
                rangePrice[1].value = maxRange;
                range.style.left = (minRange / rangeInput[0].max) * 100 + "%";
                range.style.right = 100 - (maxRange / rangeInput[1].max) * 100 + "%";
            }
        });
    });

    rangePrice.forEach((input) => {
        input.addEventListener("input", (e) => {
            let minPrice = rangePrice[0].value;
            let maxPrice = rangePrice[1].value;
            if (maxPrice - minPrice >= rangeMin && maxPrice <= rangeInput[1].max) {
                if (e.target.className === "min_value") {
                    rangeInput[0].value = minPrice;
                    range.style.left = (minPrice / rangeInput[0].max) * 100 + "%";
                } else {
                    rangeInput[1].value = maxPrice;
                    range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
                }
            }
        });
    });
</script>

<script>

    $('.aiz-mobile-togglertwo').click(function(){
      $('body').addClass('side-menu-opentwo');
    })
  
    $('.aiz-sidebar-overlaytwo').click(function(){
      $('body').removeClass('side-menu-opentwo');
    })
  </script>
  

{% endblock %}
